* {
  box-sizing: border-box;  
}

body {    
  background-color: black; 
  margin: 0;
  padding: 0;   
}

.container{
  width: 75vw;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  overflow: hidden;
  background-color: black;
  border-radius: 1rem;
}

.slider {
  width: 100%;
}

.slider-container {
  display: flex;
  width: 500%;
}

.container > input {
  display: none;
}

.images {
  width: 25%;
  transition: 1s;
}

.images img {
  width: 80%;
  border-radius: 1rem;
}

.text-content {
  width: 70%;
  overflow: hidden; 
}

.text-wraper {
  display: flex;
  width: 500%;
  align-items: center;
  overflow: hidden;
}

.text {
  width: 25%;
  padding: 0 0.2rem 0;
  transition: 1s;  
  font-size: 2rem;
  color: white;  
  opacity: 0;
  text-align: start;
}

.container label {
  cursor: pointer;
  border-radius: 50%;
}

.controls label {
  display: flex;
  width: 60px;
  height: 60px; 
  justify-content: center;
  align-items: center;
  margin: 0 10px;  
  background-color: #5c68bf;
  border: 20px solid black;
}


.controls label:hover  .controls-item{
  background-color: white;  
  border: 3px solid #5c68bf;
  width: 30px;
  height: 30px; 
}

.controls-item {
  border-radius: 50%;
  transition: background ease-in-out .5s;
  width: 30px;
  height: 30px;  
  border: 3px solid #5c68bf;
}

.controls {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#switch1:checked ~ .text-content > .text-wraper > .text1, 
#switch2:checked ~ .text-content > .text-wraper > .text2,
#switch3:checked ~ .text-content > .text-wraper > .text3,
#switch4:checked ~ .text-content > .text-wraper > .text4{
	opacity: 1;
}

#switch1:checked ~ .text-content > .text-wraper > .text1 {
  margin-left: 0;
}

#switch2:checked ~ .text-content > .text-wraper > .text2 {
  margin-left: -25%;
}

#switch3:checked ~ .text-content > .text-wraper > .text3 {
  margin-left: -50%;
}

#switch4:checked ~ .text-content > .text-wraper > .text4 {
  margin-left: -75%;
}


#switch1:checked ~ .controls label:nth-child(1),
#switch2:checked ~ .controls label:nth-of-type(2),
#switch3:checked ~ .controls label:nth-of-type(3),
#switch4:checked ~ .controls label:nth-of-type(4) {
  background: white;  
  border: 3px solid #5c68bf;
  width: 30px;
  height: 30px; 
}

#switch1:checked ~ .slider > .slider-container > .img1 {
  margin-left: 0;
}

#switch2:checked ~ .slider > .slider-container > .img2 {
  margin-left: -25%;
}

#switch3:checked ~ .slider > .slider-container > .img3 {
  margin-left: -50%;
}

#switch4:checked ~ .slider > .slider-container > .img4 {
  margin-left: -75%;
}

@media (max-width: 1300px){
  .text {
    font-size: 1.5rem;
  }
  .text-content {
    width: 60%;
  }
  .controls {
    width: 40%;
  }
  .controls label {
    width: 50px;
    height: 50px;
    border: 13px solid black;
  }
}

@media (max-width: 1145px) {
  .text {
    font-size: 1.2rem;
  }
  .controls label {
    width: 40px;
    height: 40px;
    border: 10px solid black;
    margin: 0;
  }
}

@media (max-width: 940px) {
  body {
    min-width: 320px;
    margin: 0;
  }
  
  .container {
    flex-direction: column; 
    margin-top: 1rem;   
  }

  .slider {
    order: 1;
  }

  .text-content {
    order: 3;
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 1.5rem;   
    margin-top: 1rem; 
  }

  .controls {
    margin-top: 1rem;
    order: 2; 
    justify-content: space-between;   
  }
  .controls label {
    width: 30px;
    height: 30px;
    border: 5px solid black;
    margin: 0;
  }
  .controls-item {
    margin: 0; 
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 1rem;    
  }

  .container {
    width: 90%;
  }
}
@media (max-width: 430px) {
  .text {
    padding-right: 5rem;    
  }
}
